<html>
<head>
  <title>{{{Title}}}</title>
  <link href="../style/style.css" rel="stylesheet">
</head>

<body>
  <h3>{{{Title}}}</h3>
  <section id="metadata">
{{{content}}} 
  </section>
  
</body>
  <footer>
    <h5> </h5>
  </footer>
</html>